<h1>あたらしいタスクリスト</h1>
<% form_for @project, '/new' do |f| %>
  <% if @project.errors.any? -%>
    <%= error_messages_for :project %>
  <% end -%>

  <div>
    <%= f.text_field :name, placeholder: '名称を入力してください' %>
  </div>

  <div>
    <%= f.text_area :description, placeholder: '説明やメモを入力してください' %>
  </div>

  <div>
    <%= f.submit '作成する' %>
  </div>

<% end %>
