<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>taskwell</title>
    <meta name="description" content="">
    <meta name="author" content="">
  </head>
  <body>
    <%= yield %>
  </body>
</html>
